<div class="header bg-body-secondary">
  <div class="container d-flex align-items-center justify-content-between h-100">
    <div><b>TBC TEST APP</b></div>
    <div class="d-flex gap-2">
      <span>Email:</span>
      <span>{{ getUserName() }}</span>
    </div>
  </div>
</div>
