<button type="submit" (click)="onClick()" [class]="'btn ' + 'btn-'+styleType + ' w-100 '"
        [ngClass]="disabled ? 'disabled': ''">
  @if (isPending) {
    <div class="spinner-border spinner-border-sm" role="status"></div>
  } @else {
    <span>
      {{ label }}
    </span>
  }
</button>
