<div class="login d-flex h-100">
  <div class="login_form w-50 h-100 bg-body-secondary d-flex flex-column align-items-center justify-content-center">
    <h3 class="login_form-title"> Task Tracker</h3>
    <form [formGroup]="loginForm" (submit)="submit()" class="login_form-block w-50 mx-auto">
      <div class="login_form-field mb-2">
        <app-input [controlName]="loginForm.get('email')" placeholder="E-mail"/>
      </div>
      <div class="login_form-field mb-2">
        <app-input [controlName]="loginForm.get('password')" placeholder="Password"/>
      </div>
      <app-button [disabled]="_authService.isLoading() || loginForm.invalid" label="Sign In" [isPending]="_authService.isLoading()"/>
    </form>

  </div>
  <div class="w-50"></div>
</div>
