<div>
  <div class="modal-header d-flex justify-content-between">
    <h3>
      {{ data.title }}
    </h3>
    <button
      (click)="close()"
      class="btn btn-danger"
      type="button"
    >
      <i class="bi bi-x-square"></i>
    </button>
  </div>
  <ng-template appHost></ng-template>
</div>
