<div class="modal-body">
  <form [formGroup]="form" class="form-block w-100">
    <div class="form-field mb-2">
      <app-input [controlName]="form.get('title')" placeholder="Title"/>
    </div>
    <div class="form-field mb-2 d-flex gap-2">
      <label for="completed">Is completed ?</label>
      <input class="form-check-input" type="checkbox" id="completed" formControlName="completed"/>
    </div>
  </form>
</div>
<div class="modal-footer">
  <app-button (btnClick)="submit()" [isPending]="_todosTableService.isLoading()"
              [disabled]="_todosTableService.isLoading() || form.invalid" label="Add"/>
</div>
