<!--TABLE-->
<ag-grid-angular
  [columnDefs]="_defaultService.colDefs"
  class="ag-theme-alpine"
  style="height: 500px;"
  (gridReady)="_defaultService.onGridReady($event)"
  rowModelType="infinite"
  [gridOptions]="_defaultService.gridOptions"
  [defaultColDef]="_defaultService.defaultColDef"
  [getRowStyle]="_defaultService.getRowStyle"
></ag-grid-angular>
<!--/ TABLE-->
<!--PAGINATION-->
<div class="w-100 d-flex justify-content-between my-2">
  <ng-select
    (change)="_defaultService.onPageSizeChange($event)"
    [(ngModel)]="_defaultService.limit"
    [clearable]="false"
    [items]="_defaultService.pageSizeList"
    style="width: 5%;"
  ></ng-select>
  <ngb-pagination
    (pageChange)="_defaultService.onPageChange($event)"
    [(page)]="_defaultService.currentPage"
    [boundaryLinks]="true"
    [collectionSize]="_defaultService.pageSize()"
    [ellipses]="true"
    [maxSize]="5"
    [pageSize]="_defaultService.limit()"
    [rotate]="true"
    class="pagination"
  ></ngb-pagination>
</div>
<!--/ PAGINATION-->
