<div class="modal-body">
  @if (isGettingData()) {
    <span class="placeholder w-100" style="height: 38px; border-radius: 0.375rem; margin-bottom: 0.5rem"></span>
    <div class="form-field mb-2 d-flex gap-2 align-items-center">
      <label for="completed">Is completed ?</label>
      <span class="placeholder" style="height: 18px; width: 18px; border-radius: 0.375rem"></span>
    </div>
  } @else {
    <form [formGroup]="form" class="form-block w-100">
      <div class="form-field mb-2">
        <app-input [controlName]="form.get('title')" placeholder="Title"/>
      </div>
      <div class="form-field mb-2 d-flex gap-2">
        <label for="completed">Is completed ?</label>
        <input class="form-check-input" type="checkbox" id="completed" formControlName="completed"/>
      </div>
    </form>
  }
</div>
<div class="modal-footer">
  <app-button (btnClick)="submit()" [isPending]="_todosTableService.isLoading()"
              [disabled]="_todosTableService.isLoading() || form.invalid || isGettingData()" label="Edit"/>
</div>
