<div class="d-flex justify-content-end my-2">
  <button (click)="_todosTableService.addItem()" class="btn btn-success">Add Item</button>
</div>

<app-base-table-load [_defaultService]="_todosTableService"/>


